* {
  box-sizing: border-box;
  -mox-box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 100px;
  margin: 20px 0;
  color: #505050;
}

body {
  font-family: helvetica, arial, sans-serif;
}

section {
  height: 100%;
  min-height: 250px;
}

.bodysec {
  min-height: 700px;
}

#homesec {
  background:
 url(https://lh6.googleusercontent.com/fG1FHSP9QgDPFvLmOL3bWO8kZC_IX192aft4cOz0EG4l5xxCfk0JwSHIsK621IuLtm5d-aW2lK-nclM=w1276-h585-rw);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 20px;

}

#nav_wrap {
  background: white;
  width: 100%;
  height: 65px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  z-index: 100;
  opacity: .9;
  box-shadow: 0px 1px 4px #343434;
}

nav {
  font-family: 'Monda';
  width: 100%;
  margin: 0 auto;
  transition: .5s;
}

.nav_animate {
  width: 70%;
  transition: .5s;
}

nav a {
  display: inline-block;
  font-size: 21px;
  text-decoration: none;
  color: #505050;
  width: 25%;
  text-align: center;
  line-height: 65px;
  text-transform: uppercase;
}

nav a:nth-child(1) {
  border-top: 5px solid #31BA00;
}
nav a:nth-child(2) {
  border-top: 5px solid #0069D9;
}
nav a:nth-child(3) {
  border-top: 5px solid #5A0089;
}
nav a:nth-child(4) {
  border-top: 5px solid #B40000;
}

nav a:hover {
  border-top: 5px solid #4a4a4a;
  transition: .4s;
}

#test {
  z-index: 99;
  background: white;
  position: fixed;
  top: 0;
}

.sticky {
  position: fixed !important;
  top: 0;
}

#logo, #social {
  position: absolute;
  color: black;
  z-index: 100;
  transition: 1s;
  line-height: 80px;
}

#logo {
  left: -150px;
  font-size: 25px;
  background: #;
  height: 65px;
  line-height: 65px;
  padding: 0 10px;
  margin: 0;
  color: #fff;
  cursor: pointer;
  font-weight: bolder;
}

.logoPic {
  margin-top: 3px;
  width: 70px;
  height:60px;

}

button {
  width: 130px;
  height: 50px;
  color: blue;
  text-align: center;
}

#social {
  top: -7px;
  right: -150px;
  font-size: 35px;
  z-index: 100;
  color: #4a4a4a;
}

#mainlogo {
  font-size: 150px;
  color: white;
  border: 10px solid white;
  display: inline-block;
  padding: 35px;
  position: absolute;
  height: 225px;
  line-height: 100px;
  top: 50%;
  margin-top: -180px;
  left: 50%;
  width: 600px;
  text-align: center;
  margin-left: -300px;
  text-shadow: 1px 2px 1px #000;
  box-shadow: 1px 2px 1px #000;
}

#mainsocial {
  font-size: 35px;
  line-height: 80px;
}

.icon-facebook-sign{
  color: #4867aa;
}

.icon-linkedin-sign{
  color: #0077B5 ;
}

.right {
  position: relative;
  float: right;
}

img.right {
  margin: 0 0 0 40px;
  border-radius: 200px;
}

#copy {
  padding: 20px 80px;
  font-size: 24px;
  text-align: justify;
}

#iconrow {
  font-size: 130px;
  text-align: justify;
  margin-top: 50px;
  color: #505050;
}

#iconrow::after {
  content:'';
  display: inline-block;
  width: 100%;
}

.center {
  text-align: center;
}

.large {
  font-size: 45px;
}

hoverblk {
  transition: .3;
}

.hoverblk:hover {
  color: #5656B3;
  transition: .3s;
}


@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  font-family: 'Ubuntu';
  background: #000000;
  color: white;
  text-align: center;
}
.skills {
  list-style: none;
  font-size: 20px;
}
.h1 {
  font-size: 20px;
  font-weight: 50px;
}

.skills .skill {
  display: block;
  position: relative;
  height: 60px;
  margin: 10px auto;
  width: 90%;
}

.skills .skill:before, .skills .skill:after {
  content: "";
  position: absolute;
  border-radius: 20px;
  margin-top: 40px;
}
.skills .skill:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  background: #eeeeee;
}
.skills .skill:after {
  background-color: #2ea994;
  background: repeating-linear-gradient(-45deg, #2ea994, #2ea994 10px, #31b59f 10px, #31b59f 20px);
  height: 16px;
  top: 2px;
  right: 95%;
  bottom: 2px;
  left: 2px;
  -webkit-animation: fill 2s both;
  -moz-animation: fill 2s both;
  animation: fill 2s both;
}
.skills .skill:nth-child(1):after {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.skills .skill:nth-child(2):after {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.skills .skill:nth-child(3):after {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.skills .skill:nth-child(4):after {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
.skills .skill:nth-child(5):after {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
.skills .skill[aria-label="HTML"]:after {
  right: 75%;
}
.skills .skill[aria-label="CSS"]:after {
  right: 50%;
}
.skills .skill[aria-label="Javascript"]:after {
  right: 35%;
}
.skills .skill[aria-label="Php/Larval"]:after {
  right: 20%;
}
.skills .skill[aria-label="Other"]:after {
  right: 10%;
}

@keyframes fill {
  from {
    right: 100%;
  }
}
